@model JAnet_ALlison_PHotography.Models.IndexViewModel 
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Your Account";
}


<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto text-center">
    <div class="container">
        <h1 class="jumbotron-heading text-center">@ViewBag.Title</h1>   
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4 class="lead">Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Email:</dt>
                <dd>@User.Identity.GetUserName()</dd>
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change Your Password", "ChangePassword", "Manage", null)
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </dd>
            </dl>
        </div>
    </div>
</section>