@model JAnet_ALlison_PHotography.Models.RoleViewModel

@{
    ViewBag.Title = "Create";
}

<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto">
    <div class="container">
        <h1 class="jumbotron-heading text-center display-1">@ViewBag.Title</h1><br>
        <h3 class="text-center lead">Create a new role.</h3>
        @using (Html.BeginForm(new { @class = "col-md-8 col-xs-12 mx-auto", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="">
                <hr />

                <div class="">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })<br /><br />
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12" /><br />
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
