<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto">
    <div class="container">
        <h1 class="jumbotron-heading text-center display-1">@ViewBag.Title</h1><br>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-md-8 col-xs-12 mx-auto", role = "form" }))
        {
            <div class="">
                @Html.LabelFor(m => m.example, new { @class = "col-form-label" })
                <div class="">
                    @Html.TextBoxFor(m => m.example, new { @class = "form-control" })
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12" value="Register" />
            </div>
        }
    </div>
</section>

/////////////////////////////////////////////////////////////////////////////////////////

@model IEnumerable<JAnet_ALlison_PHotography.ViewModel.StoreDetail>
@{
    ViewBag.Title = "Index Store";
}

<div class="row justify-content-center">
    <section class="jumbotron col-md-10 col-sm-12 mx-auto py-3">
        <div class="container">
            <h1 class="jumbotron-heading text-center display-1">Cart</h1><br>
            <p>
                @Html.ActionLink("Store Detail", "Index", "ProductPicture")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Emp_Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @{var base64 = Convert.ToBase64String(item.Picture);
                                var imgsrc = string.Format("data:productPicture/gif;base64,{0}", base64);}

                            <img src="@imgsrc" style="max-width:100px; max-height:100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "ProductPicture", new { id = item.Picture_Id }, null) |
                            @Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = item.Picture_Id }, null)
                            @Html.ActionLink("Delete", "Delete", "ProductPicture", new { id = item.Picture_Id }, null)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</div>