@model JAnet_ALlison_PHotography.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto text-center">
    <div class="container">
        <h1 class="jumbotron-heading text-center">@ViewBag.Title</h1><br>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-md-8 col-xs-12 mx-auto", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "col-form-label" }): 
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <input type="submit" class="btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12" value="Submit" />
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</section>