@model IEnumerable<JAnet_ALlison_PHotography.ViewModel.BookingDetail>
@{
    ViewBag.Title = "Summary Report";
}
<section class="jumbotron col-xs-12 py-3 px-0">
    <div class="mx-0">
        <h1 class="jumbotron-heading text-center display-2">@ViewBag.Title</h1><br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhotoDetail)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhotoDetail)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><br />
        <div class="p-2">
            @Html.ActionLink("Back to List", "Index", "BookingDetail")
        </div>
    </div>
</section>