@model JAnet_ALlison_PHotography.Models.Booking

@{
    ViewBag.Title = "Delete";
}
<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto" style="padding: 0!important;">
    <div class="container">
        <h1 class="jumbotron-heading text-center display-1">@ViewBag.Title</h1><br>
        <h3 class="text-center lead">Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="row">

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.dateTime)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.dateTime)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhotoType)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhotoType)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhotoDetail)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhotoDetail)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NumPeople)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.NumPeople)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Medium)
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Medium)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12" style="margin: 0!important;"/>
                    @Html.ActionLink("Back to List", "Index", "BookingDetail", null, new { @class = "btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12", @style = "margin-left: 0!important;" })
                </div>
            }
        </div>
    </div>
</section>