@model JAnet_ALlison_PHotography.Models.ProductPicture

@{
    ViewBag.Title = "Upload";
}

<section class="jumbotron col-lg-5 col-xs-12 py-3 mx-auto">
    <div class="container">
        <h1 class="jumbotron-heading text-center display-1">@ViewBag.Title</h1><br>
        <h3 class="lead text-center">Upload an item to your store.</h3>
        @using (Html.BeginForm("Create", "ProductPicture", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="">
                    @Html.LabelFor(model => model.employee_Id, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        @Html.DropDownListFor(m => m.employee_Id, new SelectList(ViewBag.Employee, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.employee_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="">
                    @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        <input type="file" name="ImageFile" id="ImageFile" required>
                    </div>
                </div>

                <div class="">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-form-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-primary m-2 col-xl-5 col-md-12 col-sm-12" style="margin-left: 0!important;" /><br /><br />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", "StoreDetail")
        </div>
    </div>
</section>